.fill-remaining-space {
	flex: 1 1 auto;
}

.hindi-title {
	padding-left: 20px;
    font-family: khand;
    font-style: italic;
    font-weight: bold;
    font-size: 80px;
}

.header-logo {
  background-image: url('../assets/favicon-96x96.png');
  background-size: cover;
  min-width: 96px;
  min-height: 96px;
}