<mat-card>
<mat-card-header>
    <div mat-card-avatar class="header-logo"></div>
    <mat-card-title class="hindi-title">संगीतश्री</mat-card-title>
    <mat-card-subtitle style="font-size: 20px;">School of Music - Hindustani Classical Vocal</mat-card-subtitle>
  </mat-card-header>

<mat-card-content>
  <mat-card>
    <img mat-card-image src="../assets/hindustani.png" alt="SangeetShree">
  </mat-card>
  <br><br>
  <mat-card>
    <mat-card-title>About</mat-card-title>
    <mat-card-content>
      Sangeetshree is a humble school of Hindustani Classical Music which has begun recently in the city of Hyderabad. This school teaches the Kirana Gayaki style of Hindustani Classical Music. The school is an initiative of Mrs. Bina Sen, who is an M.A holder in Hindustani Classical Music. She has been associated with music for close to forty years and is a student of <a href= 'https://en.wikipedia.org/wiki/Sipra_Bose'>Bidushi.Sipra Bose</a>. She has been a teacher for a very long time in Tata, Jamshedpur and has recently moved to Hyderabad and has started the school in the city.
    </mat-card-content>
  </mat-card>
  <br><br>
  <mat-card>
    <mat-card-title>Kirana Gharana</mat-card-title>
    <mat-card-content>
      Kirana Gharana is one of the most prolific Hindustani khyal gharanas and is concerned foremost with perfect intonation of notes (swara). The central concern of the Kirana style is swara, or individual notes, in particular precise tuning and expression of notes. In the Kirana Gayaki, the individual notes (swaras) of the raga are considered not just random points in the scale but independent realms of music capable of horizontal expansion. Highly emotional pukars in the higher octaves form a part of the musical experience. Another unique feature of this gharana is the highly intricate and ornate use of the sargam taan (weaving patterns with the notations themselves) introduced by Abdul Karim Khan under influence from the Carnatic classical style.
    </mat-card-content>
  </mat-card>
  <br><br>
  <mat-card>
    <mat-card-title>Showcase</mat-card-title>
    <mat-card-content>
      <mat-card>
        <mat-card-title><img style="max-height:40px;" src="../assets/yt.png"/></mat-card-title>
        <mat-card-content>
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?list=PLWLKA0GlfnUiFUXx_kfk0rmQCSixL3YrV" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </mat-card-content>
      </mat-card>
      <br>
      <br>
       <mat-card>
        <mat-card-title><img style="max-height:60px;" src="../assets/sc.png"/></mat-card-title>
        <mat-card-content>
          <iframe width="100%" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/151016797&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>
  <br><br>
  <mat-card>
      <mat-card-title>Get in touch</mat-card-title>
       <mat-card-content>
        <mat-grid-list cols="3" rowHeight="200px">
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1">
    <span><strong>Mrs. Bina Sen</strong><br/>C2-701, Power Welfare Society 7 Hills,<br/>Kokapet, Hyderabad - 500075<br/><a href="tel:+918142194019">+91-8142194019</a></span>
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="2"
      [rowspan]="2" style="background-color:lightblue">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3201.6348513672697!2d78.34397872266516!3d17.392247588609255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb945b30d855fd%3A0xe0c24e8ce5dd0821!2s7+Hills+Apartments!5e0!3m2!1sen!2sin!4v1533370869491" height="400" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1">
    <span class="skype-button rectangle" data-contact-id="binasen2015"></span>
    <script src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>
  </mat-grid-tile>
</mat-grid-list>
      </mat-card-content>
  </mat-card>
</mat-card-content> 
</mat-card>
